input {
    text-align: center;
    background: red;
    box-shadow: whitesmoke;
    padding-top: 10%;
    padding-bottom: 10%;
    width:75%;
    /*margin-left: 10%;*/
    /*margin-right: 5%;*/
    font-size: xx-large;
    color: whitesmoke;
}

