<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random random random...</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/strike.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    {#    <link rel="shortcut icon" type="image/gif" href="/static/imgs/favicon.gif"/>#}
</head>
<body>
<div class=page>
    <div class="strike">
        <span style="font-size: xx-large; color: #212121;">CLICK THE BUTTON!</span>
    </div>
    <div class="container">
        <div class="row text-center">
            <form action="/rand">
                {#                <input type="submit" value="RANDOM ITEM">#}
                <button type="submit" class="btn btn-danger btn-lg"
                        style="text-align: center;background: #F44336; box-shadow: whitesmoke; padding-top: 10%; padding-bottom: 10%; width:75%;    font-size: xx-large;">
                    CLICK ME!<br/>
                    AND... <br/>
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/75/b7/96/75b7968428fa0af32dc7ec9e06f4dafa.gif" style="width: 100%;">
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>